Repository googleapis/python-dialogflow, pull requests merged in 2021-03, with the labels that each got.

#260 chore: update templates
  .flake8
  .github/header-checker-lint.yml
  .gitignore
  .kokoro/build.sh
  .kokoro/docs/docs-presubmit.cfg
  .trampolinerc
  CONTRIBUTING.rst
  LICENSE
  MANIFEST.in
  docs/_static/custom.css
  google/cloud/dialogflow_v2/__init__.py
  noxfile.py
  synth.metadata
Labels: api: dialogflow, cla: yes, context: partial

#265 chore: reorder imports
  google/cloud/dialogflow_v2/__init__.py
  google/cloud/dialogflow_v2beta1/__init__.py
  synth.metadata
Labels: api: dialogflow, cla: yes, context: partial

#267 docs(samples): add Agent Assist code samples
  samples/snippets/answer_record_management.py
  samples/snippets/answer_record_management_test.py
  samples/snippets/conversation_management.py
  samples/snippets/conversation_profile_management.py
  samples/snippets/conversation_profile_management_test.py
  samples/snippets/create_document_test.py
  samples/snippets/document_management.py
  samples/snippets/knowledge_base_management.py
  samples/snippets/participant_management.py
  samples/snippets/participant_management_test.py
  samples/snippets/requirements.txt
Labels: api: dialogflow, cla: yes, samples

#236 chore: add constraints file
  testing/constraints-3.10.txt
  testing/constraints-3.11.txt
  testing/constraints-3.6.txt
  testing/constraints-3.7.txt
  testing/constraints-3.8.txt
  testing/constraints-3.9.txt
Labels: api: dialogflow, automerge, cla: yes
