Repository googleapis/python-dialogflow, pull requests merged in 2021-07, with the labels that each got.

#339 fix(deps): pin 'google-{api,cloud}-core', 'google-auth' to allow 2.x versions
  setup.py
Labels: api: dialogflow, automerge, cla: yes

#347 docs: fix typos
  google/cloud/dialogflow_v2/services/agents/client.py
  google/cloud/dialogflow_v2/services/agents/transports/grpc.py
  google/cloud/dialogflow_v2/services/agents/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/answer_records/transports/grpc.py
  google/cloud/dialogflow_v2/services/answer_records/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/contexts/transports/grpc.py
  google/cloud/dialogflow_v2/services/contexts/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/conversation_profiles/transports/grpc.py
  google/cloud/dialogflow_v2/services/conversation_profiles/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/conversations/transports/grpc.py
  google/cloud/dialogflow_v2/services/conversations/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/documents/transports/grpc.py
  google/cloud/dialogflow_v2/services/documents/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/entity_types/transports/grpc.py
  google/cloud/dialogflow_v2/services/entity_types/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/environments/transports/grpc.py
  google/cloud/dialogflow_v2/services/environments/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/fulfillments/transports/grpc.py
  google/cloud/dialogflow_v2/services/fulfillments/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/intents/transports/grpc.py
  google/cloud/dialogflow_v2/services/intents/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/knowledge_bases/transports/grpc.py
  google/cloud/dialogflow_v2/services/knowledge_bases/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/participants/transports/grpc.py
  google/cloud/dialogflow_v2/services/participants/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/session_entity_types/transports/grpc.py
  google/cloud/dialogflow_v2/services/session_entity_types/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/sessions/transports/grpc.py
  google/cloud/dialogflow_v2/services/sessions/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/services/versions/transports/grpc.py
  google/cloud/dialogflow_v2/services/versions/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2/types/validation_result.py
  google/cloud/dialogflow_v2beta1/services/agents/transports/grpc.py
  google/cloud/dialogflow_v2beta1/services/agents/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2beta1/services/answer_records/transports/grpc.py
  google/cloud/dialogflow_v2beta1/services/answer_records/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2beta1/services/contexts/transports/grpc.py
  google/cloud/dialogflow_v2beta1/services/contexts/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2beta1/services/conversation_profiles/transports/grpc.py
  google/cloud/dialogflow_v2beta1/services/conversation_profiles/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2beta1/services/documents/transports/grpc.py
  google/cloud/dialogflow_v2beta1/services/documents/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2beta1/services/entity_types/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2beta1/services/environments/transports/grpc.py
  google/cloud/dialogflow_v2beta1/services/environments/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2beta1/services/fulfillments/transports/grpc.py
  google/cloud/dialogflow_v2beta1/services/fulfillments/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2beta1/services/intents/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2beta1/services/knowledge_bases/transports/grpc.py
  google/cloud/dialogflow_v2beta1/services/knowledge_bases/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2beta1/services/participants/transports/grpc.py
  google/cloud/dialogflow_v2beta1/services/session_entity_types/transports/grpc.py
  google/cloud/dialogflow_v2beta1/services/session_entity_types/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2beta1/services/sessions/transports/grpc.py
  google/cloud/dialogflow_v2beta1/services/sessions/transports/grpc_asyncio.py
  google/cloud/dialogflow_v2beta1/types/validation_result.py
  samples/snippets/conversation_profile_management_test.py
  scripts/fixup_dialogflow_v2_keywords.py
Labels: api: dialogflow, automerge: exact, cla: yes

#351 chore: code clean up
  scripts/fixup_dialogflow_v2_keywords.py
  scripts/fixup_dialogflow_v2beta1_keywords.py
Labels: api: dialogflow, automerge: exact, cla: yes

#257 docs: raise DeprecationWarning when 'dialogflow' is installed
  README.rst
  dialogflow_v2/__init__.py
  dialogflow_v2beta1/__init__.py
  setup.py
Labels: api: dialogflow, cla: yes
